{{ define "main" }}
<main class="has-padding-y-5 has-padding-x-2 has-background-light">
	<div class="container">
		<div class="box has-padding-all-3-mobile has-padding-all-5-tablet">
			<div class="is-flex is-flex-column">
				<div class="has-margin-bottom-5">
					<h1 class="has-margin-bottom-0 is-size-4-mobile is-size-2-tablet">{{ .Title }}</h1>
					<div class="is-flex is-flex-row is-align-center">
						<i class="material-icons has-margin-right-1 has-text-grey">today</i><time class="is-size-6-mobile is-size-5-tablet">{{ .Date.Format "Jan 2, 2006" }}</time>
					</div>
				</div>
				
				<article>
					{{ .Content }}
				</article>
			</div>
		</div>
	</div>	
</main>
{{ end }}
