<div class="box has-padding-all-3-mobile has-padding-all-5-tablet">
	<div class="has-margin-bottom-3">
		<h1 class="is-size-5-mobile is-size-3-tablet has-margin-bottom-0"><a class="has-text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h1>

		<div class="is-flex is-flex-row is-align-center">
			<i class="material-icons has-margin-right-1 has-text-grey">today</i><time class="is-size-6-mobile is-size-5-tablet">{{ .Date.Format "Jan 2, 2006" }}</time>
		</div>
	</div>

	<div class="has-margin-bottom-3">
		<figure class="image">
			<a class="has-text-dark" href="{{ .Permalink }}">
				{{ with .Params.FeaturedImage }}
				<img src="{{ . | absURL }}">
				{{ end }}
			</a>
		</figure>
	</div>
	
	<div>
		<div>
			{{ .Summary }}
			{{ if .Truncated }}
				<a href="{{ .Permalink }}">Read more...</a>
			{{ end }}
		</div>	
	</div>
</div>
