<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {{ if .IsHome }}
            {{ .Site.Title }}
        {{ else }}
            {{ .Page.Title }} | {{ .Site.Title }}
        {{ end }}
    </title>
    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">{{ end }}
    {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{- end }}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossorigin="anonymous">

    {{/*  Compile SCSS  */}}
    {{ $styles := resources.Get "styles/main.sass" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    
    <script src="{{"js/interactivity.js" | relURL}}"></script>
    {{ template "_internal/google_analytics_async.html" . }}
</head>

<body>
    <div id="app" class="container">
        {{ partial "header" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer" . }}
    </div>
</body>
</html>