<form name="contact-us" netlify>
    <div class="field is-required">
        <label class="label is-pulled-left" for="name">Name</label>
        <div class="control">
            <input id="name" class="input" type="text" placeholder="Alex Smith">
        </div>
    </div>

    <div class="field is-required">
        <label class="label is-pulled-left" for="name">Email</label>
        <div class="control">
            <input id="name" class="input" type="text" placeholder="email@domain.com">
        </div>
    </div>

    <div class="field">
        <label class="label is-pulled-left" for="name">Phone</label>
        <div class="control">
            <input id="name" class="input" type="text" placeholder="(123)-456-7896">
        </div>
    </div>

    <div class="field">
        <label class="label is-pulled-left">Comments</label>
        <textarea class="textarea" placeholder="e.g. Hello world"></textarea>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-success" type="submit">Submit</button>
        </div>
        <div class="control">
            <button class="button is-danger is-outlined" type="reset">Reset</button>
        </div>
    </div>
</form>