<header>
	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item is-size-5-mobile is-size-4-tablet has-font-family-pacifico" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

		  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="landingNavbar">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		  </a>
		</div>
	  
		<div id="landingNavbar" class="navbar-menu">
		  <div class="navbar-start">
			{{ with .Site.Menus.main }}
				{{ range . }}
				<a class="navbar-item" href="{{ .URL | relURL }}">{{ .Name }}</a>
				{{ end }}
			{{ end }}
		  </div>
	  
		  <div class="navbar-end">
			<div class="navbar-item">
			  <div class="buttons is-justify-content-center-mobile">
				<a class="has-text-weight-bold button is-success is-flex-grow-1">
				  Sign up
				</a>
				<a class="has-text-weight-bold button is-info is-flex-grow-1">
				  Log in
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </nav>
</header>
