$calendar-border:  $grey-lighter

.calendar
    .has-w-40px
        width: 40px

    .has-h-80px
        height: 80px

    .has-w-80px
        width: 80px

    &.has-border-right
        border-right: 1px solid $calendar-border

    &.has-border-left
        border-left: 1px solid $calendar-border

    &.has-border-top
        border-top: 1px solid $calendar-border

    &.has-border-bottom
        border-bottom: 1px solid $calendar-border
    
    .has-border-right
        border-right: 1px solid $calendar-border

    .has-border-left
        border-left: 1px solid $calendar-border

    .has-border-top
        border-top: 1px solid $calendar-border

    .has-border-bottom
        border-bottom: 1px solid $calendar-border
