@import "theme.sass"

@import '_whitespace.sass'
@import '_flex.sass'
@import '_form.sass'
@import '_size.sass'
@import '_cursor.sass'
@import '_text.sass'
@import '_position.sass'
@import '_border.sass'

// Content div has the scroll bar    
html, body
    overflow: hidden!important


@each $name, $color in $colors
    .is-hoverable-#{$name}
        &:hover
            background-color: lighten(nth($color, 1), 2%)!important
            cursor: pointer


.has-border-bottom-1-light
    border-bottom: 1px solid $light

.has-border-bottom-1-grey
    border-bottom: 1px solid $grey

.has-overflow-y-scroll
    overflow-y: scroll

.has-overflow-y-hidden
    overflow-y: hidden!important


.modal
    z-index: 9000


a[disabled] 
    pointer-events: none

.has-font-family-pacifico
    font-family: 'Pacifico', cursive;
